@model Snippets.Models.Snippet
@{
    ViewBag.Title = "Details";
}

@Html.Partial("Partials/_snippet", Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
   @Scripts.Render("~/Content/prettify/prettify.js")
   <script>prettyPrint();</script>
}