@using Snippets.Areas.Admin.Models
@model IEnumerable<Role>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Roles
        </th>
        <th>
        </th>
    </tr>

@foreach (Role role in Model) {
    <tr>
        <td>
            @role.Name
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = role.Name }) |
            @Html.ActionLink("Delete", "Delete", new { id = role.Name })
        </td>
    </tr>
}

</table>